.imagen-items {
  width: 220px;
  height: 220px;
  object-fit: scale-down;
}

.card-item {
  margin: 1rem;
}


.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.ul-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn.btn-success:hover {
  background-color: #157f8f;
  border: none;
}


.btn.btn-success {
  background-color: #17a2b8;
  border: none;
}
.btn.btn-success:hover {
  background-color: #157f8f;
  border: none;
}
.row.justify-content-center {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom{
  margin-bottom: 2rem;
}


@media screen and (max-width: 1400px) {
  .ul-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .ul-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
